@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: hsl(0, 0%, 100%);
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
}

body {
    font-family: 'Outfit', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--slate-300);
    padding: 0 16px;
}

.card {
    width: 100%;
    max-width: 300px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    background-color: var(--white);

}

.card__image {
    width: 100%;
    margin-bottom: 20px;
}

.card__image img {
    width: 100%;
    border-radius: 10px;

}

.card__content {
    padding: 0 16px;
    margin: 24px 0;
    text-align: center;
}

.card__content h1 {
    color: var(--slate-900);
    font-size: 20px;
    margin-bottom: 16px;
}

.card__content p {
    color: var(--slate-500);
    font-size: 14px;
}